<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<% include ../public/partials/header.ejs %>
<h1><%= title %></h1>

<ul>

    <% for(var i=0; i<data.length; i++) {%>
        <li>
            <span><%= data[i].bird_name %></span>
            <span><%= data[i].date %></span>
            <span><%= data[i].location %></span>
            <span><%= data[i].description %></span>
            <span><%= data[i].img %></span>
            <span><img src="<%= data[i].img %>"></span>
            <span><a href="<%= data[i].detailedLink %>">Detailed view</a></span>
        </li>
    <% } %>
</ul>

</body>
</script>
</html>